/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: logo;
    src: url(assets/fonts/logo-font.otf);
}

body, p{
    font-family: 'Sarabun', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Titillium Web' !important;
}
.navbar-brand{
    /* font-size: 150px !important; */
    font-family: 'Titillium Web' !important;
    text-transform: inherit;
    font-weight: bold;
    color: #141414 ;
}

.black-btn{
    background-color: #333 !important;
    color: #FFF !important;
}

.navbar.navbar-dark.bg-dark{
    background-color: #141414 !important;
}

.btn-red{
    background-color: #ff0a16 !important;
    color: #FFF !important;
    border-radius: 90px !important;
    border: solid 1px #ff0a16 !important;
}

.container{
    margin-top: 20px;
}